@model IEnumerable<WNC.G06.Models.CafeModel>

<link rel="stylesheet" href="~/css/HienThiDanhSach.css" asp-append-version="true" />
@{
    Layout = "~/Views/Shared/_LayoutAdminCN.cshtml";
}
@if (Model.Any())
{
    <div class="form-container-List">
        <h2 class="form-title">Danh sách cửa hàng</h2>
        <button class="btnListadd">Thêm cửa hàng</button>
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên cửa hàng</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th>Mô tả</th>
                    <th>Xử lý</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var cafe = Model.ElementAt(i);
                    <tr id="product-row-@cafe.CafeID">
                        <td>@(i + 1)</td>
                        <td>@cafe.CafeName</td>
                        <td>@cafe.Address</td>
                        <td>@cafe.Phone</td>
                        <td>@cafe.Description</td>
                        <td>
                            <button class="buttonDele" onclick="confirmDelete(@cafe.CafeID)">Xóa</button>
                            <button class="buttonUpdate" onclick="confirmUpdate(@cafe.CafeID)">Update</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="form-container-List">
        <h2 class="form-title">Danh sách cửa hàng</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên cửa hàng</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th>Mô tả</th>
                    <th>Xử lý</th>
                </tr>
            </thead>
        </table>
    </div>

    <p>Danh sách cửa hàng trống.</p>
}